html,
body {
  margin: 0;
  padding: 0;
}
body {
  background: url("./img/table.png");
  background-size: cover;
  background-repeat: repeat-y;
}
.rem__cards {
  color: #fff;
  margin-left: 1rem;
}
#winner__notification {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: #000;
  color: #ffff00;
  transition: top 300ms ease-in-out;
  border-radius: 12px;
  font-weight: 700;
}
#new-deck,
#draw-cards {
  padding: 0.5rem;
  background-color: #ffff00;
  border: none;
  font-weight: 700;
  cursor: pointer;
  margin: 0;
  width: 100%;
  height: 80px;
  font-size: 2rem;
  text-transform: uppercase;
  transition: background-color 300ms ease-in-out;
}
#new-deck:hover,
#new-deck:active,
#draw-cards:hover,
#draw-cards:active {
  background-color: #dddd0a;
}
#draw-cards {
  position: absolute;
  bottom: 0;
  left: 0;
}
#cards {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
#computer,
#me {
  color: #fff;
}
.card__name {
  font-weight: 700;
  font-size: 1.2rem;
}
.card1 p,
.card2 p {
  color: #fff;
}

#cards img {
  height: 250px;
  /* transform: skew(10deg, 1deg); */
  /* animation: skewIt 1s ease-in 0.5s alternate-reverse infinite; */
}
/* @keyframes skewIt {
  from {
    transform: skew(10deg, 1deg);
  }
  to {
    transform: skew(10deg, 5deg);
  }
} */

@media (max-width: 500px) {
  body .rem__cards {
    font-size: 1.4rem;
  }
  #cards {
    height: auto;
    margin: 1rem;
    margin-top: 2rem;
  }
  #cards .card__name {
    font-size: small;
  }
  #cards img {
    height: 200px;
  }
}
@media (max-width: 350px) {
  #cards img {
    height: 150px;
  }
  #computer,
  #me {
    font-size: 1.5rem;
  }
}
